body {
  /*background: url(../img/bg.png) repeat center;*/
  font-family: 'Lato', sans-serif;
}

.wrapper {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  background: linear-gradient(90deg, #ededed 1px, transparent 1px) 1px 0, #fff;
  background-size: calc(25% - 0.5px) 1px;
}

.header {
  padding: 117px 0;
  position: relative;
}

.nav {
  list-style: none;
  font-size: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #007fff;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
}

.nav-item:nth-child(1),
.nav-item :nth-child(2) {
  float: left;
  margin-right: 70px;
}

.nav-item:nth-child(4),
.nav-item:nth-child(5) {
  float: right;
  margin-left: 70px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  background-image: url(../img/logo.png);
  background-size: cover;
  text-indent: -9999px;
}

.title {
  text-align: center;
  margin-top: 134px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.25;
}

.title h1 {
  font-size: 48px;
  color: #000;
}

.title a {
  text-decoration: none;
  color: #007fff;
}

.socials {
  list-style: none;
  font-size: 0;
  text-align: center;
  margin-top: 57px;
}

.social_item {
  display: inline-block;
  margin-right: 30px;
}

.social_item:last-child {
  margin-right: 0;
}

.social_item a {
  color: #007fff;
  font-size: 16px;
}

.links-wrapper {
  border-bottom: 1px solid #ededed;
}

.links {
  padding-bottom: 91px;
}


.links::before {
  content: 'links';
  position: absolute;
  font-size: 12px;
  font-weight: 900;
  transform: rotate(-90deg) translateX(-50%) translateY(-200%);
  left: -65px;
  letter-spacing: 3px;
  color: #979797;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  flex-wrap: wrap;
}

.links_item {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 30px;
}

.links_item_link {
  text-decoration: none;
  color: #007fff;
}

.links_item:nth-child(2n+1) {
  padding-right: 30px;
}

.links_item:nth-child(2n) {
  padding-left: 30px;
}

.links_item:nth-last-child(2n) {
  padding-left: 30px;
}

.links_item_year {
  color: #979797;
}

.remove_bg {
  background: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  line-height: 1.88;
  padding: 118px 0 122px;
  font-size: 16px;
}

.footer_nav_list {
  display: flex;
}

.footer_nav_item {
  list-style: none;
  text-decoration: none;
  color: #979797;
}

.footer_nav_link {
  text-decoration: none;
  color: #979797;
}

.footer_nav_item:last-child {
  margin-left: 194px;
}